.navItem:not(:last-child) {
    margin: 0 20px 0 0;
}

.navLink {
    text-decoration: none;
    color: var(--white);
    outline: none;
}

.navLink:focus,
.navLink:hover {
    border-bottom: 1px solid var(--red);
}

.navLink:active {
    opacity: 0.5;
}

@media (max-width: 767px) {
    .navItem:not(:last-child) {
        margin: 0 0 10px;
    }

    .navLink {
        font-size: var(--fs-main-mobile);
    }
}