.mainWrapper {
    background-color: #eae7dc;
    height: 650px;
    /* background-color: #fff; */
    /* background: linear-gradient(90deg, rgba(239,226,186,1) 0%, rgba(239,226,186,1) 51%, rgba(17,100,102,1) 51%); */
}

.mainContent {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.mainDescription {
    padding: 30px;
    flex: 0 0 auto;
    position: relative;
}

.title {
    margin: 0;
    padding: 0;
    font-family: var(--main-fonts);
    font-size: 48px;
    color: var(--gray);
    margin-bottom: 50px;
}

.caption {
    margin: 0;
    padding: 0;
    font-family: var(--main-fonts);
    font-size: 24px;
    color: var(--gray);
    margin-bottom: 50px;
}

.mainImageWrapper {
    position: relative;
    z-index: 1;
    display: flex;
}

.mainImageWrapper::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 4%;
    left: 6%;
    width: 387px;
    height: 421px;
    background-color: #116466;
}