.headerContent {
    padding: 10px 10px;
    
    background-color: var(--color-bunker);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
}

.headerButton {
    display: none;
}

@media (max-width: 767px) {
    .headerContent {
        justify-content: space-between;
    }

    .headerButton {
        display: flex;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        border: 2px solid transparent;
    }

    .headerButton:focus,
    .headerButton:hover {
        border: 2px solid var(--white);
        border-radius: 20%;
    }
    
    .headerButtonIcon {
        color: var(--white);
    }
}