.logotype {
    text-decoration: none;
    outline: none;
    border: 2px solid var(--color-turquoise-blue);
    border-right: transparent;
    display: inline-flex;
    width: 38px;
    height: 43px;
    position: relative;
    font-size: 4px;
}

.logotype::after,
.logotype::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 2px;
    height: 7px;
    background-color: var(--color-turquoise-blue);
}

.logotype::before {
    top: 100%;;
    transform: translateY(-70%);
}

.content {
    padding: 1px 0;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -6px;
    display: flex;
    align-items: flex-end;
    background-color: transparent;
    justify-content: center;
}

.title {
    font-weight: 700;
    font-size: 5em;
    line-height: 1;
    font-style: italic;
    color: var(--color-turquoise-blue);
}

.caption {
    font-size: 1em;  
    color: var(--color-turquoise-blue);
}

@media (max-width: 1199px) {
    .logotype {
    width: 38px;
    height: 43px;
    font-size: 4px;
    }
}